.cover__link {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.cover__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2A2C2F;
  transition: opacity .5s ease-in;
  opacity: 0.3;
}

.cover__link:hover::before {
  opacity: 0.8;
}


@media screen and (max-width: 525px) {
  .cover__link {
    gap: 16px;
  }
}
