.photo-grid__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 1270px) {
  .photo-grid__list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid__list {
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__list {
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 12px;
  }
}
