.photo-grid{
 width: 100%;
 padding: 0 48px 0;
 box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    padding: 0 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    padding: 0 16px 0;
  }
}
