.photo-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

@media screen and (max-width: 1025px) {
  .photo-grid {
    gap: 14px;
  }
}

@media screen and (max-width: 769px) {
  .photo-grid {
    padding: 0;
    gap: 16px;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    gap: 12px;
  }
}
