.header {
  width: 100%;
  padding: 0 48px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

@media screen and (max-width: 769px) {
  .header {
    padding: 0 24px 0;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding: 0 16px 0;
  }
}
