.content {
  padding-top: 56px;
  padding-bottom: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 92px;
}

@media screen and (max-width: 1025px) {
  .content {
    padding-top: 48px;
  }
}

@media screen and (max-width: 769px) {
  .content {
    gap: 88px;
  }
}

@media screen and (max-width: 425px) {
  .content {
    gap: 64px;
  }
}
