.content {
  padding-top: 56px;
  padding-bottom: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 92px;
}

@media screen and (max-width: 1270px) {
  .content {
    padding-top: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .content {
    gap: 88px;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .content {
    gap: 64px;
    padding-bottom: 64px;
  }
}
