.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  color: inherit;
  text-decoration: none;
  transition: opacity .5s ease-in;
}

.footer__link:hover {
  opacity: .5;
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}
