.lead__title {
  margin: 0 0 32px;
  max-width: min-content;
  font-size: 96px;
  line-height: 1.04;
  font-weight: 900;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .lead__title {
    font-size: 70px;
    line-height: 1.1;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 610px) {
  .lead__title {
    font-size: 50px;
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    font-size: 40px;
  }
}
