.place__paragraph {
  margin: 0;
  display: flex;
  gap: 26px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
}

@media screen and (max-width: 769px) {
  .place__paragraph {
    gap: 25px;
    font-size: 16px;
  }
}
