.cover {
  height: 740px;
  width: calc(100% - (48px * 2));
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
  align-items: center;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  text-align: center;
}

.cover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2A2C2F;
  opacity: 0.3;
}

.cover:hover::before {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .cover {
    height: 640px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    height: 200px;
    gap: 16px;
  }
}
