.photo-grid__image {
  max-width: 284px;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 1025px) {
  .photo-grid__image {
    max-width: 300px;
  }
}

@media screen and (max-width: 769px) {
  .photo-grid__image {
    max-width: 352px;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid__image {
    max-width: 288px;
  }
}
